$small-spacing: 5px;
$default-spacing: 10px;
$big-spacing: 20px;

$background-color: #152e4e;
$text-color: #f1f5f2;
$main-color: #548eb4;
$secondary-color: #1f3675;
$input-background-color: #ffffff;
$todo-background-color: $main-color;
$subtask-container-background-color: $background-color;

$default-font-size: 16px;

$input-size: 40px;
